@model Jewelly.Models.Orderdetailedit
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="container _cartlisstdis">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div>
                <label>Product Name:</label>
                <input class="input_edits form-control txt--input" type="text" value=" @Model.OrderDetail.ItemMst.ProdMst.Prod_Type" name="Product_Name" />
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
 

</div>
<div class="form-group">
    <select>
        <option>
           
        </option>
    </select>
    @*@Html.LabelFor(model => model.OrderDetail.ItemMst.ProdMst.Prod_ID, "Product")
    @Html.DropDownListFor(model => model.OrderDetail.ItemMst.ProdMst.Prod_ID, Model.Products, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.OrderDetail.ItemMst.ProdMst.Prod_ID, "", new { @class = "text-danger" })*@

</div>
<div class="form-group">
    @Html.LabelFor(model => model.Quantity, "Quantity")
    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.UnitPrice, "Unit Price")
    @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ID, "ID")
    @Html.TextBoxFor(model => model.ID, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
</div>


